<div class="row">
  <div class="col-sm-12">
    <h3>All Users' Statistics</h3>
    <hr>
    <div class="row">

      <div class='col-sm-4'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Calorie Stats</h3>
          </div>
          <table class="table">
            <thead>
              <th>Statistic</th>
              <th>Value</th>
            </thead>
              <tr>
                <td>
                  Calories Eaten Today
                </td>
                <td>
                  <%= Food.sum(:calories) %> Calories
                </td>
              </tr>
              <tr>
                <td>
                  Calories Burned Today
                </td>
                <td>
                  <%= UserActivity.sum(:calories) %> Calories
                </td>
              </tr>
          </table>
        </div>
      </div>


      <div class='col-sm-4'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Lead Calorie Consumers</h3>
          </div>
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Total Calories</th>
            </thead>
            <% User.order_by_calories_consumed.limit(5).each do |user| %>
              <tr>
                <td><%= user.full_name %></td>
                <td><%= user.sum %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Lead Calorie Burners</h3>
          </div>
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Total Calories</th>
            </thead>
            <% User.order_by_calories_burned.limit(5).each do |user| %>
              <tr>
                <td><%= user.full_name %></td>
                <td><%= user.sum %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

