<div class="list-group-item">
  <% if goal.complete? %>
    <h4 class='pull-right'><span class="glyphicon glyphicon-ok complete"></span></h4>
  <% elsif goal.failed? %>
    <h4 class='pull-right'><span class="glyphicon glyphicon-thumbs-down"></span></h4>
  <% end %>
  <h4><%= icon_for_goal_type(goal.goal_type)%> <%= goal.goal_type %> <small>Due <%= goal.end_date.strftime("%D") %></small></h4>
   <span class="label label-default"><%= goal.goal_amount %></span> / 
   <span class="label label-default"><%= goal.target_amount %></span>
  <% if goal.available? %>
    — <strong><%= distance_of_time_in_words(Time.now, goal.end_date)%></strong> Remaining
  <% else %>
    <strong>Goal Expired</strong>
  <% end %>
  <br>
  <br>
  <%= goal_progress_bar(goal) %>
</div>
