<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Welcome to FitHub!</h1>

    <br>

    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-title">
          <strong>
            Sign In
          </strong>
        </div>
      </div>

      <div class="panel-body">
        <%= form_tag session_path do %>

          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, "",  class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, "",  class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= label_tag :remember_me, "Remember me? " %>
            <%= check_box_tag :remember_me, class: 'form-control' %>
          </div>


          <%= submit_tag "Log in", class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="panel-footer">
        Not a member yet?
        <%= link_to "Sign Up", new_user_path %>
      </div>
    </div>

</div>
</div>
