<div class="row">

  <div class="row">
    <div class="col-sm-12">
      <% if scope == "to-date" %>
        <h4 class="text-center">All Logged Workouts</h4>
      <% else %>
        <h4 class="text-center">Workouts Logged Today</h4>
      <% end %>
      <hr>
    </div>

    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-primary btn-sm">
        Total Calories Burned:
        <span class="badge"> <%= @user_calories %> </span>
      </button>

      <button type="button" class="btn btn-primary btn-sm">
        Total Workout Minutes:
        <span class="badge"> <%= @user_minutes %> </span>
      </button>
    </div>

  </div>
  <br>

  <div class="col-sm-12">
    <table class="table table-bordered table-striped workout">
      <thead>
        <tr class='row-success'>
          <% if scope == "to-date" %>
            <th>
              <h5 class="">Workout Date</h5>
            </th>
          <% end %>

          <th>
            <h5 class="">Workout Name</h5>
          </th>
          <th>
            <h5 class="">Calories</h5>
          </th>
          <th>
            <h5 class="">Duration(Mins)</h5>
          </th>
          <th>
            <h5 class="">Intensity</h5>
          </th>
          <th class="workout-remove">
            <h5 class="">Remove Workout
            </h5>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @user_activities.each do |user_activity| %>

          <tr>
            <% if scope == "to-date" %>
              <td>
                <%= user_activity.created_at.strftime("%b, %d %Y") %>
              </td>
            <% end %>
            <td>
              <%= user_activity.activity.name %>
            </td>
            <td>
              <%= user_activity.calories %>
            </td>
            <td>
              <%= user_activity.duration_minutes %>
            </td>
            <td>
              <%= user_activity.intensity %>
            </td>
            <td class="workout-remove">
              <%= link_to "Remove",
                user_activity_path(user_activity.id),
                method: :delete,
                class: "btn btn-warning btn-xs" %>
          </td>
          </tr>
        <% end %>
      </tbody>
      <table>
  </div>

  <br>

  <div class="row nav-paths">
    <div class="col-sm-12 text-center">
      <% if scope == "to-date" %>
        <%= link_to "Show/Log workout for today",
          new_user_activity_path,
          class: "btn btn-info" %>
      <% else %>
        <%= link_to "Show all workouts to date",
          user_activities_path,
          class: "btn btn-info" %>
      <% end %>
      <%= link_to "Back to dashboard",
        dashboard_index_path,
        class: "btn btn-info" %>
  </div>

  </div>
</div>

<br>
