
<h1 class='page-header'>New Workout</h1>


<div class="row">
  <div class="col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <strong>New Workout</strong>
        </div>
      </div>
      <div class="panel-body">
        <%= simple_form_for @user_activity do |f| %>
          <%= f.input :activity_id, collection:
            Activity.all, include_blank: false %>
          <%= f.input :intensity, collection: ['High', 'Medium', 'Low'], as: :radio_buttons, checked: 'Medium' %>
          <%= f.input :duration_minutes, label: "Duration in minutes" %>
          <%= f.input :calories, label: "Calories burned" %>
          <%= f.submit "Log your workout", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <br>

  </div>
  <div class="col-sm-6">
    <%= render partial: 'logged_activities',
      locals: {scope: "today"} %>
</div>
</div>
