<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag 'FitHubLogo.png', class: 'logo' %>
      </a>
      <a class="navbar-brand" href="#">FitHub</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", dashboard_index_path(current_user) %></li>
        <li><%= link_to "Meals", root_path %></li>
        <li><%= link_to "Workouts", root_path %></li>
        <li><%= link_to "Goals", goals_path %></li>

        <% if signed_in_user? %>
          <li><%= link_to "Logout", logout_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Login", root_path %></li>
          <li><%= link_to "New User", new_user_path %></li>
        <% end %>

      </ul>
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <div class="search-bar">
          <!-- TODO: switch to users_path -->
            <%= form_tag users_path, :method => 'get' do %>
              <%= text_field_tag :query, params[:query], placeholder: "Search for users", class: "form-control" %>
              <%= submit_tag "Go", class: "form-control" %>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
