<h2 class="page-header">
  <%= @food.name %>
</h2>

<%= simple_form_for [@meal, @food] do |food| %>
  <%= food.input :name %>
  <%= food.input :calories %>
  <%= food.input :quantity %>
  <%= food.button :submit%>
<% end %>
