<div class="page-header">
  <h1>Suggestions for <em>"<%=@food_search%>"</em></h1>
  <%= link_to @meal, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back To Meal
  <% end %>
</div>

<div class="row">
  <div class="col-sm-12">

    <% if @foods.any? %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Calories</th>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <%= form_for [@meal, food] do |f| %>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control'  %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label :calories %>
                  <%= f.text_field :calories, class: 'form-control' %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label :quantity %>
                  <%= f.text_field :quantity, class: 'form-control' %>
                </div>
              </td>
              <td>

                  <button type="submit" class="btn btn-primary search-button">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>

              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
      <h1>No Results Found</h1>
  <% end %>
  </div>
</div>
