<h1>New Goal</h1>

<div class="panel panel-default">

  <div class="panel-body">
    <%= simple_form_for @goal do |f| %>
      <div class="form-group">
        <%= f.input :goal_type, collection: Goal.goal_types.keys.to_a, include_blank: false %>
      </div>
      <div class="form-group">
        <%= f.input :target_amount %>
      </div>
      <div class="form-group">
        <%= f.label :end_date %>
        <%= f.hidden_field :end_date %>
        <div class="datepicker"></div>
      </div>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
